* {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}

body {
    position: relative;
}

.site {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    flex-grow: 1;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(black, 0.5);
    z-index: 1;

    .is-login & {
        display: block;
    }

}