.bottom {
    background: color(grey, dark);
    display: flex;
    justify-content: flex-end;
    width: 100%;

    &__element {

    }

    &__progress {
        width: 100%;
        height: 6px;
        border-radius: 5px;
        background: red;
    }
    
    &__main-controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px 25px;
        flex-grow: 1;
    }

    &__current,
    &__duration {
        padding: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__current {
        background: salmon;
    }
    
    &__duration {
        background: gold;
    }

    &__controls {
        display: flex;
        
        &:not(:last-child) {
            margin-bottom: 15px;
        }

    }

    &__control-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        color: white;
        border-radius: 50%;

        &:not(:last-child) {
            margin-right: 15px;
        }

        svg {
            width: 15px;
            height: 15px;
        }

        &--play {
            border: 1px solid white;
        }

    }

    &__volume {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        padding: 30px 25px;
        background: blue;
    }

}

.volume {
    width: 100px;
    height: 3px;
    border-radius: 5px;
    background: grey;
}