.form {
    display: flex;

    input {
        flex-grow: 1;
        border-radius: 3px;
        padding: 8px;
        border-width: 0;
        box-shadow: inset 3px 3px 3px 0px rgba(128,125,128,1);

        &:not(:last-child) {
            margin-right: 10px;    
        }

        &[type=submit] {
            background: red;
            color: white;
            font-size: 14px;
            box-shadow: none;
            box-shadow: 3px 3px 3px 0px rgba(128,125,128,1);
        }

    }

}