.login-button {
    display: flex;
    padding: 25px 30px;
    background: color(grey, dark);
    color: color(grey, lighter);
    text-decoration: none;

    &__label {
        text-transform: uppercase;

        &:not(:last-child) {
            margin-right: 10px;    
        }

    }

    &__icon {
        
        svg {
            width: 15px;
            height: 15px;
        }
        
    }

}