.login-button {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background: color(grey, dark);
    color: color(grey, lighter);
    text-decoration: none;

    &__label {
        text-transform: uppercase;

        &:not(:last-child) {
            margin-right: 10px;    
        }

    }

    &__icon {
        width: 35px;
        height: 35px;
        background: color(grey, darkest);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        svg {
            width: 15px;
            height: 15px;
        }
        
    }

}