.navigation {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;

    $gutter: 20px;

    &__close {
        border: 0;
        color: color(grey, lighter);
        background: none;
        margin-top: 5px;

        svg {
            width: 20px;
            height: 20px;
        }

        &:hover,
        &:focus {
            cursor: pointer;
        }

        &:not(:last-child) {
            margin-right: 30px;    
        }

    }

    &__items {
        margin: -$gutter;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: $gutter;
        width: p(1, 4);
    }

    &__link {
        text-decoration: none;
        color: color(grey, lighter);
        font-size: 14px;
        text-transform: uppercase;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
        
        &--main {
            font-size: 18px;
            font-weight: bold;

            &:after {
                content: '//';
                padding-left: 5px;
                font-weight: bold;
            }
            
        }

    }

}