.sidebar-menu {
    list-style-type: none;

    &__link {
        display: inline-block;
        width: 100%;
        padding: 15px;
        text-decoration: none;
        color: color(grey, lighter);

        &:hover,
        &:focus {
            background: color(grey);    
        }

    }
    
}

.sidebar-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: green;
    border-width: 0;
    padding: 5px;

    &:hover,
    &:focus {
        cursor: pointer;
    }

    span {
        display: inline-block;
        width: 30px;
        height: 2px;
        background: white;

        &:not(:last-child) {
            margin-bottom: 8px;    
        }

    }

}