.sidebar-menu {
    list-style-type: none;

    &__link {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding: 15px;
        text-decoration: none;
        color: color(grey, lighter);

        &:hover,
        &:focus {
            background: color(grey, dark);
        }

        .sidebar-open & {
            justify-content: flex-start;
        }

    }

    &__icon {
        display: flex;

        &:not(:last-child) {
            margin-right: 15px;
        }
        
        svg {
            width: 20px;
            height: 20px;
            color: green;
        }

    }

    &__label {
        display: none;

        .sidebar-open & {
            display: block;
        }

    }
    
}

.sidebar-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: none;
    border-width: 0;
    padding: 5px;

    &:hover,
    &:focus {
        cursor: pointer;
    }

    span {
        display: inline-block;
        width: 26px;
        height: 2px;
        background: color(grey, lighter);
        transition: transform .2s ease, opacity .2s ease;;

        &:not(:last-child) {
            margin-bottom: 6px;    
        }

        .sidebar-open & {

            &:nth-child(1) {
                transform: rotate(45deg) translate(6px, 6px);
            }
            
            &:nth-child(2) {
                opacity: 0;
            }
            
            &:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -6px);
            }

        }

    }

}