.theme-color {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    color: color(grey, lighter);
    height: 100%;

    svg {
        width: 20px;
        height: 20px;
    }

    &__light {
        
        .light-theme & {
            display: none;
        }
        
    }
    
    &__dark {
        display: none;

        .light-theme & {
            display: block;
        }

    }

}