.user-item {
    list-style: none;
    display: flex;

    &:not(:last-child) {
        margin-bottom: 12px;
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-grow: 1;

        &:not(:last-child) {
            margin-right: 10px;    
        }

    }

    &__item {
        width: 33%;
        background: white;
        border-radius: 3px;
        padding: 10px;
        font-size: 12px;

        &:not(:last-child) {
            margin-right: 10px;
        }

    }

    &__name,
    &__email,
    &__adres {
        background: white;
        border-radius: 5px;
        padding: 10px;
        font-size: 12px;
    }

}