.volume {
    $root: &;

    display: flex;
    align-items: center;

    &__button {
        width: 15px;
        height: 15px;
        color: white;

        &:not(:last-child) {
            margin-right: 15px;    
        }

        &:hover,
        &:focus {
            cursor: pointer;
        }

    }

    &__range {    
        width: 100px;
        height: 3px;
        border-radius: 5px;
        background: grey;

        &:hover {
            cursor: pointer;
        }

    }

    &__icon {
        display: none;

        svg {
            width: 15px;
            height: 15px;
            color: color(grey, light);
        }
        
        .is-muted & {
            display: block;

            &--unmuted {
                display: none;
            }

        }

        &--unmuted {
            display: block;
        }

    }

}